.*
!.gitignore
*~
*.a
*.aplx
*.aux
*.bin
*.boot
*.dat
*.dvi
*.elf
*.gas
*.log
*.o
*.out
*.pdf
*.pyc
*.s
*.sv
*.swp
*.tab
*.txt
!/examples/*/*.txt
**/application_generated_data_files
**/binaries
**/build
**/data
**/modified_src/
**/reports/
__pycache__
/SpiNNaker_PDP2.egg-info/
/dist/
/doc/build
